

header
{
	background-color: #6a7cde;
	padding-top: 1px;
	padding-bottom: 1px;
}

header h1
{
	font-family: "Courier New", "Lucida Console", monotype; 
	color: gold;
}

main h2
{
	text-decoration: underline;
}

dt
{
	font: 20px bold;	
}
dd
{
	text-indent: 2em;
	padding-top: 5px;
}


.selfp
{
	border-style: solid;
	border-color: navy;
	float: left;
	display: inline-block;
	overflow: auto;
	margin-right: 20px;
	margin-bottom: 20px;
	width:25%;
}
.resume

{
	display: block;
	margin: auto;
	width:100%; 
	overflow: auto;
	height: 2200px;
	margin-right: 20px;
	margin-bottom: 20px;
	
	
}

.uniborder
{
	border-style: solid;
	border-color: navy;
}

footer
{
	background-color: #6a7cde;
	color: #8c0d08;
	border-style: solid;
	border-color: navy;
	text-align: center;
	padding-bottom: 10px;
	font-family: "Times New Roman", Times, serif;
	
}

footer div
{
	
	overflow: auto;
}


ul
{
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	
}



nav li
{
	
	display: block;
	float: left;
	padding: 7px;
	margin-right: 30px;
	margin-left: 20px;
}

a:visited
{
	color: #30072b;
}
a:hover
{
	color: brown;
	font: bold;
}

.sectborder
{
	border-style: solid;
	border-color: navy;
	margin-left: 15%;
	margin-right: 15%;
}


.logo
{
	
	float:left;
	height: auto;	
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
}

div main
{
	background-color: white;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5%;
	padding-right: 5%;
	overflow: auto;
	text-align: justify;
}


body
{
   font-family: "Courier New",sans-serif;
   background-color: #4284f5;
   border-style: solid;
   border-color: navy;
}


nav
{
	
	background-color: #b5fff9;
	padding-left: 25%;
	
}


.tablespace

{
	margin-bottom: 30px;
	
}

table
{
		display: block;

}
 table, td, tr
{
	
	background-color:gold;
	margin: auto;
	border: 2px solid black;
		overflow: auto;
 }
  


footer img
{

	max-width: 100px;

}

 
.column1
{
	width:10%;
}
.column2
{
	width:10%;
}

.column4

{
	width: 40%;
}

.column5
{
	width:25%;
}

h1, h2, h3, h4
{
	text-align:center;
}

